.a {
  text-decoration: none;
}

.intake-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.intake-form input[type='radio'],
.intake-form input[type='checkbox'] {
  margin: -3px 5px 0 0;
  vertical-align: middle;
}

.intake-form p {
  display: flex;
  flex-direction: column;
}

.intake-form input {
  height: 1.7em;
}

.intake-form select {
  font: inherit;
}

.intake-form fieldset {
  margin: 0 0 10px 0;
}

#org-type-fieldset {
  border-color: gray;
  border: solid 1px gray;
}

.intake-form #desc {
  height: 20em;
  resize: none;
}

hr {
  height: 2px;
  width: 100%;
  margin: 10px 0;
  opacity: 50%;
  background-color: grey;
  border: none;
}
